main {
    background-color: lightyellow;
}

main {
    padding: 1rem;
}
.cellsContainer {
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    background-color: lightblue;
    border: 2px solid blue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.cell.easy {
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.cell.normal{
    height: calc(100% / 9);
    width: calc(100% / 9);
}

.cell.hard{
    height: calc(100% / 7);
    width: calc(100% / 7);
}

.cell.clicked {
    background-color: rgb(76, 194, 135);
}

.bombs.clicked {
    background-color:rgb(255, 73, 73);
}

